{{!-- <img id="logo" src="{{logo}}" alt="Soraya Pizza">
<a id="trial" href="/user1">Deluxe</a>
<a href="/user2">Mediterranean</a>
<a href="/user3">Nonna's Favourite</a> --}}


{{!-- <video id="headerVid" autoplay muted loop>
<source src="/images/pizzamaking.mp4" type="video/mp4">
    Your browser does not support the video.
</video>
     --}}

<img id="headerVid" src='{{commercial}}' alt="header">
{{!-- <img id="headerVid" src="/images/header.jpg" alt="header"> --}}

{{!-- <video id="headerVid" muted loop autoplay>
  <source src="{{commercial}}" type="video/mp4">
  <source src="/images/pizzamov.mov" type="video/mov">
Your browser does not support the video tag.
</video> --}}
