<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  </head>
  <body>
<a href="/"><img id="logo" src="/images/logo3.png" alt="Soraya Pizza"></a>
<nav id="menu">
  <a href="/">Home</a>
  <a href="/user1">Deluxe</a>
  <a href="/user2">Mediterranean</a>
  <a href="/user3">Nonna's Favourite</a>
</nav>
<div>
    {{{body}}} <!--this is like the vue.js router view-->
</div>
  </body>
</html>
